@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60,4.8%,95.9%;
    --foreground: 24,9.8%,10%;

    --card: 60,4.8%,95.9%;
    --card-foreground: 24,9.8%,10%;

    --popover: 60,4.8%,95.9%;
    --popover-foreground: 24,9.8%,10%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0,9.1%,97.8%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 24,9.8%,10%;

    --muted: 25,5.3%,44.7%;
    --muted-foreground: 25,5.3%,44.7%, 0.1;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 116 76% 87%;
    --success-foreground: 145 63% 40%;

    --border: 24,5.7%,82.9%;
    --border-brand: 94, 50%, 21%, 0.2;
    --input: 33.3,5.5%,32.4%, 0.5;
    --ring: 222.2 84% 4.9%;

    --brand: 94, 72%, 64%;
    --brand-light: 94, 93%, 75%;
    --brand-foreground: 24,9.8%,10%;
    --brand-dark: 94, 50%, 31%;
    --brand-dark-hover: 94, 47%, 47%;
    --brand-hover: 94, 80%, 85%;

    --autofill: 25,5.3%,44.7%, 0.2;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24,9.8%,10%;
    --foreground: 24,5.7%,82.9%;

    --card: 24,9.8%,10%;
    --card-foreground: 24,9.8%,10%;

    --popover: 24,9.8%,10%;
    --popover-foreground: 24,5.7%,82.9%;

    --primary: 60,9.1%,97.8%;
    --primary-foreground: 0,9.1%,97.8%;

    --secondary: 24,9.8%,10%;
    --secondary-foreground: 24,5.7%,82.9%;

    --muted: 24,5.7%,82.9%;
    --muted-foreground: 25,5.3%,44.7%, 0.1;

    --accent: 24,5.4%,63.9%;
    --accent-foreground: 24,9.8%,10%;

    --destructive: 0,84.2%,60.2%;
    --destructive-foreground: 60,9.1%,97.8%;

    --success: 116 76% 87%;
    --success-foreground: 145 63% 40%;

    --border: 12,6.5%,15.1%;
    --input: 12,6.5%,15.1%;
    --input-filled: 33.3,5.5%,32.4%;
    --ring: 24,5.7%,82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
